<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
        CADASTRO
      </a>
    </h4>
  </div>

  <div id="collapseOne" class="panel-collapse collapse in">
    <div class="panel-body">
      <div class="row">

        <div class="form-group col-md-4">
          <select class="form-control" id="colaborador" name="Colaborador">
            <option value="" selected disabled>Colaborador</option>
            <option value="" *ngFor="let item of items"> {{ item }}</option>
          </select>
        </div>

        <div class="form-group col-md-4">
          <select class="form-control" id="projeto" name="Projeto">
            <option value="" selected disabled>Projeto</option>
            <option value="">Projeto A</option>
            <option value="">Projeto B</option>
            <option value="">Projeto C</option>
          </select>
        </div>

        <div class="form-group col-md-4">
          <select class="form-control" id="categoria" name="Categoria">
            <option value="" selected disabled>Categoria</option>
            <option value="">Categoria A</option>
            <option value="">Categoria B</option>
            <option value="">Categoria C</option>
          </select>
        </div>

        <div class="form-group col-md-4">
          <select class="form-control" id="workgroup" name="Workgroup">
            <option value="" selected disabled>Workgroup</option>
            <option value="">Workgroup A</option>
            <option value="">Workgroup B</option>
            <option value="">Workgroup C</option>
          </select>
        </div>

        <div class="form-group col-md-4">
          <select class="form-control" id="tarefa" name="Tarefa">
            <option value="" selected disabled>Tarefa</option>
            <option value="">Tarefa A</option>
            <option value="">Tarefa B</option>
            <option value="">Tarefa C</option>
          </select>
        </div>

        <div class="form-group col-md-4">
          <input type="number" min="0.0" max="8.0" step="0.25" class="form-control" id="horas" placeholder="Horas" name="horas">
        </div>

        <div class="form-group col-md-8">
          <textarea style="resize: none" class="form-control" id="descricao" rows="1" placeholder="Descrição"></textarea>
        </div>

        <div class="form-group col-md-2">
          <input name="Checkbox1" type="checkbox" id="checkbox"> Salvar favorito
        </div>

        <div class="form-group col-md-2" style="left: 47px">
          <input type="submit" id="adicionar" value="ADICIONAR" style="width: 90px; color:#ffffff; background-color: #005787; border-color: #005787; border: 2px solid #005787">
        </div>

      </div>
    </div>
  </div>
</div>