
<div class="panel panel-default" style="margin-top: -20px">

  <table class="table table-fixed" style="margin-top: 0px">
    <thead>
      <tr>
        <th class="col-xs-2"> Colaborador</th>
        <th class="col-xs-2"> Projeto</th>
        <th class="col-xs-2"> WorkGroup</th>
        <th class="col-xs-2"> Tarefa</th>
        <th class="col-xs-1"> Horas</th>
        <th class="col-xs-1"> Hora Extra</th>
        <th class="col-xs-1"> Data</th>
        <th class="col-xs-1"> Ação</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td class="col-xs-2">CLAUDIA LEANDRO</td>
        <td class="col-xs-2">Cielo - BoB - Best of Both</td>
        <td class="col-xs-2">Manutenção de Cadastros</td>
        <td class="col-xs-2">BOB - Release 7</td>
        <td class="col-xs-1">8.00</td>
        <td class="col-xs-1">false</td>
        <td class="col-xs-1">16/11/2017</td>
        <th class="col-xs-1">
          <a href="#">
            <span class="glyphicon glyphicon-pencil" title="Edit"></span>
          </a>&nbsp;
          <a href="#">
            <span class="glyphicon glyphicon-copy" title="Copy"></span>
          </a>&nbsp;
          <a href="#">
            <span class="glyphicon glyphicon-remove" title="Delete"></span>
          </a>
        </th>
      </tr>

      <tr>
        <td class="col-xs-2">CLAUDIA LEANDRO</td>
        <td class="col-xs-2">Cielo - BoB - Best of Both</td>
        <td class="col-xs-2">Manutenção de Cadastros</td>
        <td class="col-xs-2">BOB - Release 7</td>
        <td class="col-xs-1">8.00</td>
        <td class="col-xs-1">false</td>
        <td class="col-xs-1">16/11/2017</td>
        <th class="col-xs-1">
          <a href="#">
            <span class="glyphicon glyphicon-pencil" title="Edit"></span>
          </a>&nbsp;
          <a href="#">
            <span class="glyphicon glyphicon-copy" title="Copy"></span>
          </a>&nbsp;
          <a href="#">
            <span class="glyphicon glyphicon-remove" title="Delete"></span>
          </a>
        </th>
      </tr>

      <tr>
        <td class="col-xs-2">CLAUDIA LEANDRO</td>
        <td class="col-xs-2">Cielo - BoB - Best of Both</td>
        <td class="col-xs-2">Manutenção de Cadastros</td>
        <td class="col-xs-2">BOB - Release 7</td>
        <td class="col-xs-1">8.00</td>
        <td class="col-xs-1">false</td>
        <td class="col-xs-1">16/11/2017</td>
        <th class="col-xs-1">
          <a href="#">
            <span class="glyphicon glyphicon-pencil" title="Edit"></span>
          </a>&nbsp;
          <a href="#">
            <span class="glyphicon glyphicon-copy" title="Copy"></span>
          </a>&nbsp;
          <a href="#">
            <span class="glyphicon glyphicon-remove" title="Delete"></span>
          </a>
        </th>
      </tr>

      <tr>
        <td class="col-xs-2">CLAUDIA LEANDRO</td>
        <td class="col-xs-2">Cielo - BoB - Best of Both</td>
        <td class="col-xs-2">Manutenção de Cadastros</td>
        <td class="col-xs-2">BOB - Release 7</td>
        <td class="col-xs-1">8.00</td>
        <td class="col-xs-1">false</td>
        <td class="col-xs-1">16/11/2017</td>
        <th class="col-xs-1">
          <a href="#">
            <span class="glyphicon glyphicon-pencil" title="Edit"></span>
          </a>&nbsp;
          <a href="#">
            <span class="glyphicon glyphicon-copy" title="Copy"></span>
          </a>&nbsp;
          <a href="#">
            <span class="glyphicon glyphicon-remove" title="Delete"></span>
          </a>
        </th>
      </tr>

      <tr>
        <td class="col-xs-2">CLAUDIA LEANDRO</td>
        <td class="col-xs-2">Cielo - BoB - Best of Both</td>
        <td class="col-xs-2">Manutenção de Cadastros</td>
        <td class="col-xs-2">BOB - Release 7</td>
        <td class="col-xs-1">8.00</td>
        <td class="col-xs-1">false</td>
        <td class="col-xs-1">16/11/2017</td>
        <th class="col-xs-1">
          <a href="#">
            <span class="glyphicon glyphicon-pencil" title="Edit"></span>
          </a>&nbsp;
          <a href="#">
            <span class="glyphicon glyphicon-copy" title="Copy"></span>
          </a>&nbsp;
          <a href="#">
            <span class="glyphicon glyphicon-remove" title="Delete"></span>
          </a>
        </th>
      </tr>

      <tr>
        <td class="col-xs-2">CLAUDIA LEANDRO</td>
        <td class="col-xs-2">Cielo - BoB - Best of Both</td>
        <td class="col-xs-2">Manutenção de Cadastros</td>
        <td class="col-xs-2">BOB - Release 7</td>
        <td class="col-xs-1">8.00</td>
        <td class="col-xs-1">false</td>
        <td class="col-xs-1">16/11/2017</td>
        <th class="col-xs-1">
          <a href="#">
            <span class="glyphicon glyphicon-pencil" title="Edit"></span>
          </a>&nbsp;
          <a href="#">
            <span class="glyphicon glyphicon-copy" title="Copy"></span>
          </a>&nbsp;
          <a href="#">
            <span class="glyphicon glyphicon-remove" title="Delete"></span>
          </a>
        </th>
      </tr>

      <tr>
        <td class="col-xs-2">CLAUDIA LEANDRO</td>
        <td class="col-xs-2">Cielo - BoB - Best of Both</td>
        <td class="col-xs-2">Manutenção de Cadastros</td>
        <td class="col-xs-2">BOB - Release 7</td>
        <td class="col-xs-1">8.00</td>
        <td class="col-xs-1">false</td>
        <td class="col-xs-1">16/11/2017</td>
        <th class="col-xs-1">
          <a href="#">
            <span class="glyphicon glyphicon-pencil" title="Edit"></span>
          </a>&nbsp;
          <a href="#">
            <span class="glyphicon glyphicon-copy" title="Copy"></span>
          </a>&nbsp;
          <a href="#">
            <span class="glyphicon glyphicon-remove" title="Delete"></span>
          </a>
        </th>
      </tr>

      <tr>
        <td class="col-xs-2">CLAUDIA LEANDRO</td>
        <td class="col-xs-2">Cielo - BoB - Best of Both</td>
        <td class="col-xs-2">Manutenção de Cadastros</td>
        <td class="col-xs-2">BOB - Release 7</td>
        <td class="col-xs-1">8.00</td>
        <td class="col-xs-1">false</td>
        <td class="col-xs-1">16/11/2017</td>
        <th class="col-xs-1">
          <a href="#">
            <span class="glyphicon glyphicon-pencil" title="Edit"></span>
          </a>&nbsp;
          <a href="#">
            <span class="glyphicon glyphicon-copy" title="Copy"></span>
          </a>&nbsp;
          <a href="#">
            <span class="glyphicon glyphicon-remove" title="Delete"></span>
          </a>
        </th>
      </tr>

      <tr>
        <td class="col-xs-2">CLAUDIA LEANDRO</td>
        <td class="col-xs-2">Cielo - BoB - Best of Both</td>
        <td class="col-xs-2">Manutenção de Cadastros</td>
        <td class="col-xs-2">BOB - Release 7</td>
        <td class="col-xs-1">8.00</td>
        <td class="col-xs-1">false</td>
        <td class="col-xs-1">16/11/2017</td>
        <th class="col-xs-1">
          <a href="#">
            <span class="glyphicon glyphicon-pencil" title="Edit"></span>
          </a>&nbsp;
          <a href="#">
            <span class="glyphicon glyphicon-copy" title="Copy"></span>
          </a>&nbsp;
          <a href="#">
            <span class="glyphicon glyphicon-remove" title="Delete"></span>
          </a>
        </th>
      </tr>

      <tr>
        <td class="col-xs-2">CLAUDIA LEANDRO</td>
        <td class="col-xs-2">Cielo - BoB - Best of Both</td>
        <td class="col-xs-2">Manutenção de Cadastros</td>
        <td class="col-xs-2">BOB - Release 7</td>
        <td class="col-xs-1">8.00</td>
        <td class="col-xs-1">false</td>
        <td class="col-xs-1">16/11/2017</td>
        <th class="col-xs-1">
          <a href="#">
            <span class="glyphicon glyphicon-pencil" title="Edit"></span>
          </a>&nbsp;
          <a href="#">
            <span class="glyphicon glyphicon-copy" title="Copy"></span>
          </a>&nbsp;
          <a href="#">
            <span class="glyphicon glyphicon-remove" title="Delete"></span>
          </a>
        </th>
      </tr>
  
    </tbody>
  </table>
   
</div>