<div>
  <img src="./assets/modelo17.png" alt="Logomarca da empresa" width="100%">
  <a href="#">
      <span class="glyphicon glyphicon-off" title="Logout" style="font-size: 32px; left: 1280px; top: -60px"></span>
  </a>
</div>