.auto-style1 {
	font-size: large;
}
.modal-open {
    padding-right: 0px !important;
}
a:link 
{ 
 text-decoration:none; 
} 
.panel-title a {
    display: block;
    padding: 10px 15px;
    margin: -10px -15px;
}

  