input#exampleInputEmail1 {
    background-color: #ccc;
}
.btn-primary:hover {
    color: #fff;
    background-color: #8d27d07d;
    border-color: #204d74;
}
.table-fixed thead {
    width: 99%;
  }
  .table-fixed tbody {
    height: 230px;
    overflow-y: auto;
    width: 100%;
  }
  .table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block;
    font-size: 13.5px;
  }
  .table-fixed tbody td, .table-fixed thead > tr> th {
    float: center;
    border-bottom-width: 0;
  }
  