<font face="Dax" color="#565454">
    <div class="row">
        <div class="container-fluid">

            <!-- COMPOENNTE MODAL 1 -->
            <app-modal></app-modal>
            <!--COMPONENTE 2-->
            <app-logan-empresa></app-logan-empresa>

            <div class="container">
                <div class="row">
                    <div class="col-md-9" style="left: 0px; top: -37px; height: 0px; width: 1040px">
                        <div class="panel-group" id="accordion">

                            <!-- COMPOENNET 3 -->
                            <app-cadastro-timesheet></app-cadastro-timesheet>

                            <br>

                            <!-- COMPOENNET 4 -->
                            <app-busca-timesheet></app-busca-timesheet>

                        </div>

                        <br>

                        <div>
                            <!-- COMPONENT 5-->
                            <app-tabela-resultado></app-tabela-resultado>

                        </div>


                    </div>
                    <div class="col-md-3">
                        <!--COMPONENT 6 -->
                        <app-calendario></app-calendario>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</font>