<div class="modal fade" id="myModal" role="dialog">
<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Favoritos</h4>
    </div>
    <div class="modal-body">
      <a href="#">
        <p>Favorito 1</p>
      </a>
      <a href="#">
        <p>Favorito 2</p>
      </a>
      <a href="#">
        <p>Favorito 3</p>
      </a>
      <a href="#">
        <p>Favorito 4</p>
      </a>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
    </div>
  </div>
</div>
</div>